{% extends 'base.html' %}

{% block head %}
<title>Simple NLP app</title>
{% endblock %}

{% block body %}

<div class="container">
    <div class="pagename">
        QuickRead - A text summarizer with Pegasus NLP model
    </div>
    <h3>Enter a short paragraph for best result:</h3>
    <form action="/", method="POST">
        <textarea 
            type="" 
            name="content" 
            id="content"
            rows="12"
            cols="35"
            placeholder="A short paragraph here"
        ></textarea><br>
        <input type="submit" value="Submit" >
    </form>
</div>
<div class="container">
    <div class="results">
        <h3 style="color:black;text-align: center;">
            <b>Summary from Pegasus:</b>
        </h3>
        {{ summary }}
    </div>
</div>

{% endblock %}